<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Search - Tailwindcss and Vuejs</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>

    <div id="app" class="flex w-screen h-auto p-40">
        <div class="w-1/4 h-full "></div>
        <div class="flex-col w-1/2 h-full p-4 shadow-outline">
            <h1 class="flex-1  text-center text-5xl  text-blue-600 ">Awesome Grid Image</h1>
            <svg class="animate-bounce w-6 h-6 text-blue-600 " fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
              </svg>
            <div class="flex items-center border-b-2 py-2">
                <input class=" text-2xl w-full  mr-3 py-1 px-2 leading-tight outline-none hover:bg-blue-100  " type="text" placeholder="Image search here" v-model="search">
            </div>
            <div v-if="!minSearching()">
                <h2 class="w-full text-center text-red-600 text-lg italic">Sorry, minimal 3 character for searching</h2>
            </div>

            <div class="text-lg ">{{processFeedback}}</div>
            <template>
                <div class="flex  w-full h-auto p-2 mt-4 " >
                   
                    <div class="flex flex-wrap -mx-2">
                        <div v-for="image in imageList" class="w-1/3 sm:px-2">

                            <div class="max-w-sm rounded overflow-hidden shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                                <img class="w-full" :src="image.thumbnailUrl"  alt="image empty">
                                <div class="px-6 py-4">
                                  <p class="sm:block  text-base text-center ">
                                    {{image.title}}
                                  </p>
                                </div>

                              </div><br>

                        </div>
                    </div>
                </div>

            </template>

        </div>

    </div>


</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js"></script>
<script src="data.js"></script>
<script>
    const app = new Vue({
        el: "#app",

        data() {
            return {
                search: "",
                resources: objDataImage,
                imageList: [],
                searching: false

            };
        },
        computed: {
            processFeedback: function() {
                if (!this.searching && this.imageList.length <= 0) {
                    return "Sorry, Your image not found.";
                } else if (this.searching) {
                    return "Searching, wait for second...";
                }
            }
        },
        watch: {
            //coment kode dibawah jika menggunakan method untuk pencarian
            search: async function(val) {
                if (this.minSearching()) {
                    this.searching = true;
                    await this.waitingForSearch(1000);
                    this.imageList = this.resources.filter((data) =>
                        data.title.startsWith(this.search)
                    );
                    this.searching = false;
                } else {
                    this.searching = false;
                    this.imageList = this.resources;
                }
            }

        },
        methods: {
            minSearching: function() {
                if (this.search.length != 0 && this.search.length < 3) {
                    return false
                } else {
                    return true;
                }
            },
            //uncoment kode dibawah jika menggunakan method untuk pencarian
            /*searchingImage: async function(e) { 
                if (this.minSearching()) {
                    this.searching = true;
                    await this.waitingForSearch(1000);
                    this.imageList = this.resources.filter((data) =>
                        data.title.startsWith(this.search)
                    );
                    this.searching = false;
                } else {
                    this.searching = false;
                    this.imageList = this.resources;
                }
            },*/
            waitingForSearch: async function(time) {
                return new Promise((resolve) => setTimeout(resolve, time));
            },
        },
        created() {
            //coment kode dibawah jika menggunakan method untuk pencarian
            this.imageList = this.resources;
            //uncoment kode dibawah jika menggunakan method untuk pencarian
            // this.minSearching();
        },
    });
</script>

</html>